*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}
.forma-registro{
width: 400px;
background:#EC7063;
padding: 30px;
margin: auto;
margin-top:100px;
border-radius: 10px;
font-family: 'calibri';
color: white;
}
.forma-registro .botons{
width: 100%;
background:#AE2F2F ;
border: none;
padding: 12px;
color: white;
font-family:'calibri';
    font-size: 18px;
}

.forma-registro h3{
    font-size:15px;
    margin-bottom:20px;
}
.controls{
    width:100%;
    background: #AE2F2F ;
    padding :10px;
    border-radius: 10px;
    margin-bottom: 16px;
    
    font-family:'calibri';
    font-size: 18px;

}