*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}
.forma-registro{
width: 400px;
background:#EC7063;
padding: 30px;
margin: auto;
margin-top:100px;
border-radius: 10px;
font-family: 'calibri';
color: white;
}
.forma-registro .botons{
width: 100%;
background:#AE2F2F ;
border: none;
padding: 12px;
color: white;
font-family:'calibri';
    font-size: 18px;
}

.forma-registro h3{
    font-size:15px;
    margin-bottom:20px;
}
.controls{
    width:100%;
    background: #AE2F2F ;
    padding :10px;
    border-radius: 10px;
    margin-bottom: 16px;
    
    font-family:'calibri';
    font-size: 18px;

}

/*---------------------------
			Content footer 
-----------------------------*/

.conteiner-footer{
	background-color: #DDB4B4;
    padding: 0px 88px 0px 88px;
}

.conteiner-items{
	align-items: center;
	text-align: center;
    display:grid;
    grid-template-columns: 4% 4% 4% auto ;
    grid-template-rows: auto;
}

.conteiner-redes{
    display: flex;
}

.social{
    width: 100px;
    height: 100px;
    display: flex;
	padding: 20px;
}

.creditos{
    text-align: center;
	padding-right: 10%;
}
.texto-footer{
	font-family: 'Alike', serif;
	font-size: 25px;
}