*{
    margin:0;
    padding:0;
    font-family: 'Alegreya Sans SC', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --box-color: #B43535;
    --input-color: #C54646;
    --button-hover: #F84E4E;
    --button-color: #F17474;
    --text-colors: rgb(20, 20, 20);
    --color-title: #B43535;    
    --footer-color: #ddb4b4;
    --color-line: #FF0000;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --box-color: #100F0F;
    --text-colors: #fff;
    --color-title: #fff;
    --input-color: #524a4a;
    --button-color: #534e4e;
    --button-hover: #222020;
    --footer-color: #161515;
    --color-line: #e07878;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.postimg.cc/SsHwCpRj/background-opacity.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.titulo{
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: 60px 870px;
    color:var(--color-title) ;
    transition: var(--tran-05);
}

.forma-registro{
    width: 470px;
    height: auto;
    background-color:var(--box-color);
    padding: 30px;
    margin-left: 39%;
    margin-bottom: 80px;
    border-radius: 40px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    color: var(--text-colors);
    transition: var(--tran-05);
}

.forma-registro h2{
    text-align: center;
    padding: 20px 0px;
}

.forma-registro h3{
    font-size: 20px;
}

.controls{
    min-width: 100%;
    max-width: 100%;
    background: var(--input-color);
    color: var(--text-colors);
    transition: var(--tran-05);
    padding :10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 20px;
}

.forma-registro .textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 240px;
    max-height: 240px;
    background: var(--input-color);
    color: var(--text-colors);
    transition: var(--tran-05);
    padding :10px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 16px;
    font-size: 25px;
}

.forma-registro .botons{
    width: 50%;
    margin: 0px 100px;
    background:var(--button-color) ;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    border: 0px;
    border-radius: 50px;
    padding: 20px;
    color: var(--text-colors);
    font-size: 30px;
    transition: var(--tran-05);
}

.forma-registro .botons:hover {
    background-color: var(--button-hover);
}
/*-----------------------------
            Content footer 
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.conteiner-footer {
    background-color: var(--footer-color);
    padding: 0px 88px 0px 88px;
    transition: var(--tran-05);
}

.conteiner-items {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 4% 4% 4% auto;
    grid-template-rows: auto;
}

.conteiner-redes {
    display: flex;
}

.social {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
}

.creditos {
    text-align: center;
    padding-right: 10%;
}

.texto-footer-empresa {
    display: grid;
    margin-left: 43%;
    width: 15%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    border-bottom: var(--color-line) solid 2px;
}
.texto-footer {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
}

body.dark .home .conteiner-footer {
    background-color: var(--footer-color);
    color: var(--text-color);
}