* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #cfa5a5;
    --sidebar-color: #ebcece;
    --primary-color: #ae2f2f;
    --primary-color-light: #ffffff;
    --toggle-color: #ae2f2f;
    --icon-color: #ae2f2f;
    --text-color: #ae2f2f;
    --footer-color: #ddb4b4;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #262424;
    --primary-color: #3c3a3a;
    --toggle-color: #fff;
    --text-color: #fff;
    --footer-color: #161515;
}

/*---------------------------
			First page 
-----------------------------*/

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .name-empresa {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}
body.dark .home .name-empresa,
body.dark .home .parrafo-header {
    color: var(--text-color);
}

.contenido-header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
            rgba(5, 7, 12, 0.75),
            rgba(5, 7, 12, 0.75)
        ),
        url(https://i.postimg.cc/NjKhsSND/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenido-header {
    padding: 0px 15% 0px 20%;
    font-size: 32px;
    font-weight: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.contenido-header .name-empresa {
    padding-top: 60px;
    font-size: 96px;
    font-weight: 400;
    font-family: 'Alegreya Sans SC', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-05);
}

.contenido-header .parrafo-header {
    padding-bottom: 40px;
    transition: var(--tran-05);
}

.content-nuestrosproductos {
    text-align: center;
}

.boton-default:hover {
    color: #fff;
    background-color: var(--footer-color);
}

body.dark .boton-default:hover {
	background-color: var(--primary-color);
	color: #fff;
}

body.dark .boton {
	color: var(--text-color);
	border: 4px solid #3c3a3a;
}

.boton-default {
    border: 4px solid var(--text-color);
}

.boton {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: 500;
    transition: var(--tran-03);
    font-size: 28px;
    cursor: pointer;
    color: var(--text-color);
    line-height: 1.5;
}

/*---------------------------
			Content category 
-----------------------------*/

/*---------------------------
			Content product 
-----------------------------*/

/*---------------------------
			Content footer 
-----------------------------*/

.conteiner-footer {
    background-color: var(--footer-color);
    padding: 0px 88px 0px 88px;
    transition: var(--tran-05);
}

.conteiner-items {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 4% 4% 4% auto;
    grid-template-rows: auto;
}

.conteiner-redes {
    display: flex;
}

.social {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
}

.creditos {
    text-align: center;
    padding-right: 10%;
}

.texto-footer-empresa {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
}
.texto-footer {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
}

body.dark .home .conteiner-footer {
    background-color: var(--footer-color);
    color: var(--text-color);
}
