* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #cfa5a5;
    --box-color: #B43535;
    --input-color: #C54646;
    --fondo-empresa: #403E3E;
    --text-colors: rgb(0, 0, 0);
    --button-color: #F17474;
    --button-hover: #F84E4E;
    --caja-datos: rgb(255, 0, 0);
    --footer-color: #ddb4b4;
    --color-line: #FF0000;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --box-color: #100F0F;
    --fondo-empresa: #bebbbb;
    --text-colors: rgb(255, 255, 255);
    --input-color: #524a4a;
    --button-color: #534e4e;
    --button-hover: #222020;
    --caja-datos: #000;
    --footer-color: #161515;
    --color-line: #e07878;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.postimg.cc/SsHwCpRj/background-opacity.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#log{
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 5%;
    min-height: 100vh;
    padding-left: 10%;
}

.cuadro {
    display: flex;
    padding: 2%;
    background: var(--box-color);
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    transition: var(--tran-05);
    margin-top: 5%;
    align-items: center;
}

.primero{
    float:none;
    display:flex;
}
.segundo{
    margin: 0px 0px;
    padding: 100px 0px;
    width: 660px;
    height: auto;
    float: none; 
}

.celular{
    width: 816px;
}

.empresa{
    margin: 0px 270px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: var(--fondo-empresa);
    transition: var(--tran-05);
    width: 200px;
}

.title {
    color: var(--text-colors);
    transition: var(--tran-05);
    font-size: 30px;
    margin: 15px 300px;
}
form{
    flex-direction: column;
}

.contenedor-login{
    margin: 0px 120px;
    width: 500px;
}

.contenedor-login h2 {
    font-size: 20px;
    color: var(--text-colors);
    transition: var(--tran-05);
}

.contenedor-login .datos-button {
    margin: 30px 4px 30px;
}

.contenedor-login .submit-button {
    margin: 20px 90px 30px;
    
}

form button {
    width: auto;
    height: 5%;
    font-size: 35px;
    color: var(--text-colors);
    border-radius: 50px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    border: 0px;
    background-color: var(--button-color);
    transition: var(--tran-05);
    margin: 0px 25%;
    padding: 10px 15px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--button-hover);
}

.contenedor-login .datos-button .caja-datos {
    width: 490px;
    height: 40px;
    padding: 20px 10px;
    font-size: 20px;
    color: var(--caja-datos);
    background-color: var(--input-color);
    transition: var(--tran-05);
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
}

/*---------------------------
			Content footer 
-----------------------------*/

.conteiner-footer {
    background-color: var(--footer-color);
    padding: 0px 88px 0px 88px;
    transition: var(--tran-05);
    color: var(--text-colors);
}

.conteiner-items {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 4% 4% 4% auto;
    grid-template-rows: auto;
}

.conteiner-redes {
    display: flex;
}

.social {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
    cursor: pointer;
}

.creditos {
    text-align: center;
    padding-right: 10%;
}

.texto-footer-empresa {
    display: grid;
    margin-left: 43%;
    width: 15%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    border-bottom: var(--color-line) solid 2px;
}
.texto-footer {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
}

body.dark .home .conteiner-footer {
    background-color: var(--footer-color);
    color: var(--text-colors);
}