* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rosybrown;

}
#log{
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 5%;
    min-height: 100vh;
    padding-left: 10%;
}

#cuadro {
    display: flex;
    padding-left:5%;
    padding-right: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: #F17374;
    margin-top: 10%;
    border-radius: 50px;
    margin-top: 10%;
    align-items: center;

}

#primero{
    
    float:none;
    display:flex;
}
#segundo{
    float: right;
    
}

.celular{
    width: 600px;
    
    
}

.empresa{
    width: 200px;
    
}

.title {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;

}
form{
    padding-left:200px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2px 2px;
    box-shadow: 0 5px 10px rgb(71, 3, 6, 0, 7);  
    margin-left: 100px;
    

}


form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 30px;
    color: BLACK;
    margin-right: 10px;
}

form label input {
    outline: none;
    border-radius: 20px;
    color: black;
    background-color: #744C4C;
    text-align: center ;
    
    padding: 0 2px;
    font-size: 12px;

}




form .link {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

form button {
    
    width: 200px;
    color: #fff;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, black, black);
    padding: 10px 15px;
    cursor: pointer;

}

/*---------------------------
			Content footer 
-----------------------------*/

.conteiner-footer {
    background-color: #DDB4B4;
    padding: 0px 88px 0px 88px;
}

.conteiner-items {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 4% 4% 4% auto;
    grid-template-rows: auto;
}

.conteiner-redes {
    display: flex;
}

.social {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 20px;
}

.creditos {
    text-align: center;
    padding-right: 10%;
}

.texto-footer {
    font-family: 'Alike', serif;
    font-size: 25px;
}