* {
    margin: 0;
    padding: 0;
}

.principal {
    background-color: rosybrown;
}

.navegacion {
    position: fixed;
    margin-top: 0px;
    width: 50px;
    height: 100%;
    background-color: pink;
}

.navegacion ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

.navegacion ul li a {
    display: inline-block;
    color: red;
    text-decoration: none;
    font-size: 30px;
    margin: 10px auto;
}

.imagen {
    width: 30px;
    height: auto;
}

.perfil {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.caja {
    width: 350px;
    height: 400px;
    background-color: orange;
    margin: 20px auto;
    padding: 15px;
}

.main {
    margin-left: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros {
    margin: 40px 40px;
    text-align: center;
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    grid-template-rows: 50% 50%;
}

p {
    background-color: gray;
    font-size: 12px;
    margin: 5px;
    text-align: justify;
}

/*---------------------------
			Content footer 
-----------------------------*/

.conteiner-footer{
	background-color: #DDB4B4;
    padding: 0px 88px 0px 88px;
}

.conteiner-items{
	align-items: center;
	text-align: center;
    display:grid;
    grid-template-columns: 4% 4% 4% auto ;
    grid-template-rows: auto;
}

.conteiner-redes{
    display: flex;
}

.social{
    width: 100px;
    height: 100px;
    display: flex;
	padding: 20px;
}

.creditos{
    text-align: center;
	padding-right: 10%;
}
.texto-footer{
	font-family: 'Alike', serif;
	font-size: 25px;
}