* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rosybrown;
    <<<<<<< HEAD
}


=======height: 100%;


}

.principal {
    height: auto;

}

>>>>>>>957098dfb2e67ea0f0ee888b5babac8e367a35e9 .navegacion {
    position: fixed;
    margin-top: 0px;
    width: 50px;
    height: 100%;
    background-color: pink;

}

.navegacion ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;

}

.navegacion ul li a {
    display: inline-block;
    color: red;
    text-decoration: none;
    font-size: 30px;


    margin: 10px auto;

}

.imagen {
    width: 30px;
    height: auto;
}

.perfil {
    width: 200px;
    height: 200px;
    border: 1px solid black;



}

.caja {
    width: 350px;
    height: 400px;
    background-color: orange;


    margin: 20px auto;

    padding: 15px;




}


.main {
    margin-left: 50px;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

}

.nosotros {

    margin: 40px 40px;

    text-align: center;
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    grid-template-rows: 50% 50%;




}

p {
    background-color: gray;
    font-size: 12px;
    margin: 5px;
    text-align: justify;

    <<<<<<< HEAD .redes {

        position: absolute;
        margin-left: 50px;
        width: 100%;
        bottom: 0;
        border: 5px solid blue;

        display: grid;
        grid-template-columns: 4% 4% 4% auto;
        grid-template-rows: auto;
        padding: 5px;
        background-color: floralwhite;


        =======
    }

    <<<<<<< HEAD=======>>>>>>>d2468b7355eaae4ca6b9960d22a6183fc1743712 .redes {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        display: grid;
        grid-template-columns: 4% 4% 4% auto;
        grid-template-rows: auto;
        padding: 5px;
        >>>>>>>957098dfb2e67ea0f0ee888b5babac8e367a35e9
    }

    .icon {
        width: 50px;
        height: 50px;
        text-align: left;
        padding: 5px;
        border: 0px;
    }

    <<<<<<< HEAD .autor {
        text-align: center;
    }


    .persona1,
    persona2,
    persona3,
    persona4 {
        width: 100%;

        =======<<<<<<< HEAD footer {
            background-color: burlywood;
        }

        .autor {
            =======footer {
                background-color: burlywood;
                >>>>>>>957098dfb2e67ea0f0ee888b5babac8e367a35e9
            }

            .autor {
                >>>>>>>d2468b7355eaae4ca6b9960d22a6183fc1743712 text-align: center;
            }


            <<<<<<< HEAD .persona1,
            persona2,
            persona3,
            persona4 {
                width: 100%;
            }

            =======.persona1,
            .persona2,
            .persona3,
            .persona4 {
                width: 100%;
            }

            >>>>>>>d2468b7355eaae4ca6b9960d22a6183fc1743712